@model Web_vuottai.Models.CHUCVU

@{
    ViewData["Title"] = "Delete";
}

<h1>XÓA THÔNG TIN CHỨC VỤ</h1>

<h3>Bạn có chắc muốn xóa chức vụ này không?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenChucVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenChucVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TyLeDinhMuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TyLeDinhMuc)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ChucVuId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </form>
</div>
