@model Web_vuottai.Models.NGONNGU

@{
    ViewData["Title"] = "Details";
}

<h1>CHI TIẾT NGÔN NGỮ</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNgonNgu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNgonNgu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeSo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeSo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NgonNguId" class="btn btn-primary">Sửa</a> |
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</div>
